/*
* Reset
* ================================== */
*,
::before,
::after {
  border: none;
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

/* ========================
   Global
   ======================== */
:root {
  color-scheme: light;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  word-wrap: break-word;
  color: var(--c-text);
  background-color: var(--c-bg-alt);
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: var(--fs-base);
  -moz-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
}

a {
  text-decoration: none;
  transition: 0.25s;
  color: inherit;
  word-break: break-all;
}

button,
input {
  font-family: "Outfit", sans-serif;
}
