/*
* Reset
* ================================== */
*,
::before,
::after {
  border: none;
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

/* ========================
   Variables
   ======================== */
:root {
  --base: #ffe845;
  --footer: #f5f5f5;
  --ui: #9a9a9a;
  --gray: #dddddd;
  --primary: #131313;

  --uiHover: #8c8c8c;
  --grayHover: #cdcdcd;

  /* status */
  --success: #2ecc71;
  --successBg: #e8f8f0;
  --info: #5b9bd5;
  --infoBg: #e8f2ff;
  --error: #e74c3c;
  --errorBg: #ffebeb;

  --disabled: 0.5;

  --white: #fff;
  --black: #131313;

  --base-bg: var(--base);
  --base-bg-dark: var(--primary);
  --primary-bg: var(--base);

  --primary-text: var(--primary);

  --main: 580px;

  --radius: 12px;

  --font: monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ========================
   Global
   ======================== */
:root {
  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-background);
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  word-wrap: break-word;
  color: var(--primary-text);
  background-color: var(--base-bg);
  font-family: var(--font);
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.6rem;
  -moz-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
}

a {
  text-decoration: none;
  transition: 0.25s;
  color: inherit;
  word-break: break-all;
}

button,
input {
  font-family: var(--font);
}
